.av-rtree {
    margin: 0;
    padding: 5px;
}
.av-rtree li{
    padding: 0;
    margin: 0;
    list-style: none;
    white-space: nowrap;
    outline: 0;
}
.av-rtree ul {
    margin: 0;
    padding: 0 0 0 18px;
}

.av-rtree-root {

}
.av-rtree-subtree {

}
.av-rtree-node {
    cursor: pointer;
}
.av-rtree-node.leaf{
    margin-left: 18px;
}
.av-rtree-node .av-rtree-node-header{
    display: inline-block;
}
.av-rtree-node.selected>.av-rtree-node-header{
    background-color: #ffe6b0;
    border: 1px #ffb951 solid;
    opacity: 0.8;
}

.av-rtree-node>.av-rtree-node-children{
    display: none;
}
.av-rtree-node>.av-rtree-node-switcher{
    line-height: 16px;
    margin-right: 2px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;

    background-image: url('../images/triangle_collapsed.svg');
}
.av-rtree-node.expanded>.av-rtree-node-children{
    display: block;
}
.av-rtree-node.expanded>.av-rtree-node-switcher{
    background-image: url('../images/triangle_maximized.svg');
}

.av-rtree-node-icon{
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.av-spinner-black-small{
    width: 16px;
    height: 16px;
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-image: url('../images/spinner-black.svg');
    animation: av-360deg-rotate 1.1s infinite linear;
}
/* lifecycle icons*/
.av-process-dashboard-lifecycle-icon {
    background-repeat: no-repeat;
    background-position: left center;
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 2px;
}
.av-process-dashboard-lifecycle-icon.error-icon {
    background-image:url("../images/lifecycle_error.png")
}
.av-process-dashboard-lifecycle-icon.finished-icon {
    background-image:url("../images/lifecycle_finished.png")
}
.av-process-dashboard-lifecycle-icon.pending-icon {
    background-image:url("../images/lifecycle_pending.png")
}
.av-process-dashboard-lifecycle-icon.running-icon {
    background-image:url("../images/lifecycle_running.png")
}
